html {
        max-width: 900px;
        margin: 0 auto;
        padding-top:40px;
}

body, html {
	width:100%;
        background-color: white;
	font-family: 'Roboto', sans-serif;
}

h1, h3{
	font-family: 'Playfair Display', serif;
	padding-bottom: 20px;
}

.dateInput {
        width: 60px !important;
        border-radius: 0;
        border-top:0;
        border-left:0;
        border-right:0;
        margin:0 !important;
}

.dateSubmit button {
        background-color: white !important;
        color: grey !important;
}

.dateNav {
        font-family: 'Playfair Display', serif;
        color: #969696;
        padding-right: 30px;
        padding-left: 30px;
}

.dateNav: hover {
        color: black;
}

.appointments p {
	padding-left: 30px;

}

.todos p {
	padding-left: 30px;
}

.todos a {
        padding-left:20px;
        font-family: 'Playfair Display', serif;
        color: #969696;
        float: right;
}

.todos a:hover {
        color: black;
}

.weight {
        font-family: 'Playflair Display', serif;
        padding-right: 20px;
}

.jumbotron {
	margin: 15px;
	padding: 20px;
	background-color: white;
}

.divider {
	font-size: 50px;

}

.container {
	margin:0;
	padding:0;
}

.navigation {
	padding-top: 20px;
}

.navigation a {
	padding: 20px;
	color: #969696;
}

.newBtn {
        padding: 20px;
        padding-left: 30px;
        color: #969696;
	font-family: 'Roboto', sans-serif;
}

.newBtn:hover{
        color: black;
}

.active {
	color: #969696 !important;
}

.menuBar {
	height:60px;
	width:100%;
}

.list-group {
	margin-top: 20px;
}

.list-group a {
	border:0;
	padding:20px;
}
